@model Vidly.ViewModels.IndexCustomerViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@if (Model.Customers.Count != 0)
{
    <table class="table table-bordered table-hover">
        <thead>
        <td rowspan="1">Customer</td>
        </thead>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
            </tr>
        }
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}


